

<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-12">
            <div class="create-button-container d-flex justify-content-center">
                <a href="/project/create" class="btn btn-success create-button">Create Project</a>
            </div>
            
            <hr>
            <h5>All Projects:</h5>
            <ul class="list-group">
                <% projects.forEach(function(project) { %>
                <li class="list-group-item m-4">
                    <div class="project-header d-flex justify-content-between align-items-center">
                        <strong class="project-title">
                            <%= project.name %>
                        </strong>
                        <span class="badge bg-secondary">
                            <%= project.author %>
                        </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                    <p class="project-description">
                        <%= project.description %>
                    </p>
                    <a href="/project/<%= project._id %>" class="btn btn-primary">View Project</a>
                </div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
